<section>
    <main class="container">
        <section class="">
            <h1>Chat</h1>
            <section class="chat">
                <div>
                    <h3>Mensajes</h3>
                    <ul id="messages"></ul>
                </div>
            </section>
            <section class="formulario">
                <form class="input-group p-3" onSubmit="addMessage2();">
                    <input type="email" class="form-control" name="author" id="author" placeholder="Correo" />
                    <br>
                    <input type="text" class="form-control" name="text" id="text" placeholder="Texto" />
                    <button id="send" type="submit" class="btn btn-outline-dark">Enviar</button>
                </form>
            </section>
        </section>
    </main>
</section>