<section>
    <main class="container">
        <h1>Formulario</h1>
        <form onsubmit="addMessage();">
            <label for="titulo">Titulo</label>
            <br>
            <input type="text" name="titulo" id="titulo"></input>
            <br>
            <label for="precio">Precio</label>
            <br>
            <input type="text" name="precio" id="precio"></input>
            <br>
            <label for="logo">Logo</label>
            <br>
            <input type="text" name="logo" id="logo"></input>
            <br>
            <button type="submit">Enviar producto</button>
        </form>
        <br>
    </main>
</section>