<h2>Historial</h2>
<br>
<table>
    <tr>
        <thead>
            <td>Titulo</td>
            <td>Precio</td>
            <td>Logo</td>
        </thead>
        <tbody id="mensaje"></tbody>
    </tr>
</table>